body{
    background-color: #ffb151 !important;
    /* height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; */
}

h1{
    font-size: 70px;
    color: #e85d04;
    padding: 10px;
}

.carousel-item{
    height: 500px;
}


.container-fluid{
   background-color: #bbded6;
}

nav.navbar{
    background-color: #bbded6 !important;
}
    
h3{
    padding-top: 50px;
}
