* {
    padding: 0;
    margin: 0;
}

body{
    color: darkslategrey;
}
.container-fluid{
   background-color: rgb(183,211,183); 
}

.navbar-brand{
    color: palevioletred;
}

h1{
    font-size: 100px;

}
